<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- CSS Link To Main Handlebars -->
    <link rel="stylesheet" href="../static/css/style.css"/>

    <title>GechilaPY | About Me</title>
</head>
<body>
    <nav class="container" style="background-color: transparent">
        <div class="nav-logo">
            <a class="logo" href="/">GechilaPY</a>
        </div>
        <ul>
            <li class="nav-links">
                <a class="nav-link {% if request.endpoint == 'home_page' %} active {%endif%}" aria-current="page" href="{{ url_for('home_page') }}">Home</a>
            </li>
            <li class="nav-links">
                <a class="nav-link" href="{{ url_for('about_page') }}">About Me</a>
            </li>
            {% if 'name' in session %}
            <li class="nav-links">
                <a class="nav-link" href="{{ url_for('user_logout') }}" >Logout</a>
            </li>
            {% else %}
            <li class="nav-links">
                <a class="nav-link {% if request.endpoint == 'add_user' %} active {%endif%}" href="{{ url_for('add_user') }}">Registration</a>
            </li>
            <li class="nav-links">
                <a class="nav-link" href="{{ url_for('user_login') }}">Login</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    
    <div class="section">
        <div class="container">
            <div class="content-section">
                <div class="title">
                    <h1>About Me</h1>
                </div>
                <div class="content">
                    <h3>Developer And Designer</h3>
                    <p>Hello, My Name Is Tornike Gachechiladze
                    and I am a front-end Developer and Designer.
                    I can provide clean code and perfect pixel design.
                    I also make the website more & more interactive with
                    web animations. A responsive design makes your website
                    accessible to all users, regardless of their device.</p>
                    <div class="button">
                        <a href="{{ url_for('add_user') }}">Register Here</a>
                    </div>
                </div>
            </div>
            <div class="image-section">
                <img src="../static/img/gigachad.webp">
            </div>
        </div>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>